###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
.env.test
validator-debug.log

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
/nbproject/

/tests/TempData/*

/.idea
/.vscode

validator-cli.jar

.scannerwork
sonar-scanner
node_modules

/output/
# vscode
*.bkp

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

/.php-cs-fixer.dist.php

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

# front assets built by webpack (npm ci && npm run build), see webpack.config.js
/public/build/
/public/vendor/
/public/css/
/public/font/
/public/img/
